# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.DS_Store
.vscode
env/
package/
**/token.pickle
**/credentials.json
skedder/config/config.json
skedder/tests/seed.py

.Python
bin/
lib/
include/